<h1 class="text-uppercase text-center pt-4">Places</h1>







  <% for place in @places %>
    <h4 class="text-center pt-4">
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </h4>
  <% end %>


<p>
  <a class="btn btn-dark" href="/places/new" role="button">New Place</a>
</p>