<h1 class="text-uppercase text-center pt-4">New Place</h1>

<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>

  <p>
    <button type="submit" class="btn btn-dark">Create Place</button>
  </p>
<% end %>